<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Prueba</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
          <h1 class="text-center"> Registro de empresa transporte</h1>
          <div class="card-body">
            <form th:action="@{/empresas_transporte}" th:object="${empresa_transporte}" method="POST">
                <div class="form-group">
                  <label>Nombre: </label>
                  <input type="text" name="nombre" th:field="*{nombre}" class="form-control" placeholder="Ingrese su nombre: " required>
                  <div class="alert alert-warning d-flex align-items-center" role="alert" th:if="${#fields.hasErrors('nombre')}"
                  th:errors="*{nombre}">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                      An example warning alert with an icon
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2" for="usuario">Usuario:</label> 
                  <select th:field="*{usuario}" class="form-control form-control-sm col-md-6" id="usuario"> 
                    <option th:each="usuario:${usuarios}"
                      th:text="${usuario.nombre}">					
                  </select>
                </div>
                <div class="box-footer">
                  <button class="btn btn-succes">Guardar</button>  
                </div>
            </form>       
          </div>
        </div> 
        </div>
    </div>

</body>
</html>