<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: header">
    <meta charset="utf-8" />
    <title>Fronteras</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav th:replace="layout :: navegacion">
      <!--Herencia de navbar-->
    </nav>
      <div class="col py-3">
        <!--inicio area de trabajo-->
        <div class="container">
          <div class="row">
            <h1>Lista de fronteras</h1>
          </div>

          <!--En este boton se llama al formulario de crear-->
          <a th:href="@{/fronteras/nuevo}" class="btn btn-sm btn-primary">
            <i class="fas fa-plus-circle mr-1 text-white"></i>
          <span class="text-white">Agregar Frontera</span>            
          </a>

          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Pais</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="frontera: ${fronteras}">
                <td th:text="${frontera.nombre}">Nombre</td>
                <td th:text="${frontera.pais.nombre}">Nombre</td>
                <td>

                  <!--En este boton se llama al formulario de editar-->
                  <a
                    th:href="@{/fronteras/editar/{id}(id=${frontera.id})}" class="btn btn-sm btn-primary">
                    <i class="fas fa-pencil-alt"></i> 
                  </a>
                  
                  <!--En este boton se elimina el registro-->
                  <a
                    th:href="@{/fronteras/{id}(id=${frontera.id})}" class="btn btn-sm btn-danger" onclick="return confirm('Estás seguro que deseas eliminar el registro?');">
                      <i class="fa fa-trash" aria-hidden="true"></i>                    
                  </a>
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--Fin area de trabajo-->
  </body>
</html>