<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: header">
  <meta charset="utf-8" />
  <title>Territorio</title>

</head>

<body>
  <nav th:replace="layout :: navegacion">
    <!--Herencia de navbar-->
  </nav>
  <div class="col py-3">
    <!--inicio area de trabajo-->
    <div class="container">
      <div class="row">
        <h1>Lista de regiones</h1>
      </div>

      <!--En este boton se llama al formulario de crear-->
      <a th:href="@{/regiones/nuevo}" class="btn btn-sm btn-primary">
        <i class="fas fa-plus-circle mr-1 text-white"></i>
      <span class="text-white">Agregar Region</span>            
      </a>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Pais</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="region: ${regiones}">
            <td th:text="${region.nombre}">Nombre</td>
            <td th:text="${region.pais.nombre}">Nombre</td>
            <td>

              <!--En este boton se llama al formulario de editar-->
              <a
                th:href="@{/regiones/editar/{id}(id=${region.id})}" class="btn btn-sm btn-primary">
                <i class="fas fa-pencil-alt"></i> 
              </a>
              
              <!--En este boton se elimina el registro-->
              <a
                th:href="@{/regiones/{id}(id=${region.id})}" class="btn btn-sm btn-danger" onclick="return confirm('Estás seguro que deseas eliminar el registro?');">
                  <i class="fa fa-trash" aria-hidden="true"></i>                    
              </a>

             
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--Fin area de trabajo-->
  </body>
 </html>