<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: header">
    <meta charset="utf-8" />
    <title>Base</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav th:replace="layout :: navegacion">
      <!--Herencia de navbar-->
    </nav>
    <!--Inicio de area de trabajo-->
    <div class="col py-3">
      <div class="container">
        <div class="row">
          <h1>Lista de Medios de Transporte</h1>
        </div>

        <!--En este boton se llama al formulario de crear-->
        <a th:href="@{/Medio-Transporte/nueva}" class="btn btn-info">Nuevo</a>

        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Medio</th>
              <th scope="col">Empresa</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="medio_transporte: ${medios_transporte}">
              <td th:text="${medio_transporte.medio}"></td>
              <td>
                <th:block th:each="empresa,iter: ${medio_transporte.empresa_transporte}">
                    <label th:text="${empresa.nombre}"></label>
                     <th:block th:if="${!iter.last}">, </th:block>
                  </th:block>
              </td>
              <td>
                <!--En este boton se llama al formulario de editar-->
                <a th:href="@{/medios_transporte/editar/{id}(id=${medio_transporte.idMedio})}" class="btn btn-sm btn-primary">
                  <i class="fas fa-pencil-alt"></i> 
                </a>
                
                
                <!--En este boton se elimina el registro-->
                <a class="btn btn-sm btn-danger" th:href="@{/Medio-Transporte/{id}(id=${medio_transporte.idMedio})}" onclick="return confirm('Estás seguro que deseas eliminar el registro?');">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--Fin de area de trabajo-->
  </body>
</html>
