<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: header">
  <meta charset="utf-8" />
  <title>Base</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
</head>

<body>
  <nav th:replace="layout :: navegacion"></nav>
  <!--Inicio de area de trabajo-->
  <div class="col py-3">
    <div class="container">
      <div class="row">
        <h1>Lista de solicitudes</h1>
      </div>

      <!--En este boton se llama al formulario de crear-->
      <a th:href="@{/solicitudes_viaje/nuevo}" class="btn btn-sm btn-primary">
        <i class="fas fa-plus-circle mr-1 text-white"></i>
      <span class="text-white">Agregar Solicitud</span>            
      </a>
        

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Fecha Solicitud</th>
            <th scope="col">Estado</th>
            <th scope="col">Pais Origen</th>
            <th scope="col">Pais Destino</th>
            <th scope="col">Motivo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="solicitud: ${solicitudes}">
            <td th:text="${solicitud.fechaSolicitud}">Fecha Solicitud</td>
            <td th:text="${solicitud.estado}">estado</td>
            <td th:text="${solicitud.paisOrigen}">paisOrigen</td>
            <td th:text="${solicitud.paisDestino}">paisDestino</td>
            <td th:text="${solicitud.motivo}">motivo</td>
            <td>

              <!--En este boton se llama al formulario de editar-->
              <a
              th:href="@{/solicitudes_viaje/editar/{id}(id=${solicitud.idSolicitudViaje})}" class="btn btn-sm btn-primary">
              <i class="fas fa-pencil-alt"></i> 
            </a>
            
            <!--En este boton se elimina el registro-->
            <a
              th:href="@{/solicitudes_viaje/{id}(id=${solicitud.idSolicitudViaje})}" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro que deseas eliminar el registro?');">
                <i class="fa fa-trash" aria-hidden="true"></i>                    
            </a>
              

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Fin de area de trabajo-->
</body>

</html>
