<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Nueva Identificacion</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
          <h1 class="text-center"> Registro de Identificaciones</h1>
          <div class="card-body">
            <form th:action="@{/identificacion}" th:object="${identificacion}" method="POST">
                <div class="form-group">
                  <label>Tipo: </label>
                  <input type="text" name="Tipo de Identificacion" th:field="*{tipo}" class="form-control" placeholder="Ingrese su tipo: " required>
                  <div class="alert alert-warning d-flex align-items-center" role="alert" th:if="${#fields.hasErrors('tipo')}"
                  th:errors="*{tipo}">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                      An example warning alert with an icon
                    </div>
                  </div>
                </div>

                <div class="form-group">
                    <label>Numero Unico: </label>
                    <input type="text" name="Numero Unico" th:field="*{numeroUnico}" class="form-control" placeholder="Ingrese su numero unico: " required>
                    <div class="alert alert-warning d-flex align-items-center" role="alert" th:if="${#fields.hasErrors('numeroUnico')}"
                    th:errors="*{numeroUnico}">
                      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                      <div>
                        An example warning alert with an icon
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Pais de nacimiento: </label>
                    <input type="text" name="Pais" th:field="*{paisNacimiento}" class="form-control" placeholder="Ingrese su pais de nacimiento: " required>
                    <div class="alert alert-warning d-flex align-items-center" role="alert" th:if="${#fields.hasErrors('paisNacimiento')}"
                    th:errors="*{paisNacimiento}">
                      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                      <div>
                        An example warning alert with an icon
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Pais de residencia: </label>
                    <input type="text" name="Pais residencia" th:field="*{paisResidencia}" class="form-control" placeholder="Ingrese su pais de residencia: " required>
                    <div class="alert alert-warning d-flex align-items-center" role="alert" th:if="${#fields.hasErrors('paisResidencia')}"
                    th:errors="*{paisResidencia}">
                      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                      <div>
                        An example warning alert with an icon
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>ocupacion: </label>
                    <input type="text" name="Ocupacion" th:field="*{ocupacion}" class="form-control" placeholder="Ingrese su ocupacion: " required>
                    <div class="alert alert-warning d-flex align-items-center" role="alert" th:if="${#fields.hasErrors('ocupacion')}"
                    th:errors="*{ocupacion}">
                      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                      <div>
                        An example warning alert with an icon
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Pais Emisor: </label>
                    <input type="text" name="Pais Emisor" th:field="*{paisEmisor}" class="form-control" placeholder="Ingrese su pais de Emision " required>
                  <div class="alert alert-warning d-flex align-items-center" role="alert" th:if="${#fields.hasErrors('paisEmisor')}"
                  th:errors="*{paisEmisor}">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                      An example warning alert with an icon
                    </div>
                  </div>
                </div>

                  <div class="form-group">
                    <label>Fecha vencimiento: </label>
                    <input type="date" name="Fecha vencimiento" th:field="*{fechaVencimiento}" class="form-control" placeholder="Ingrese su fecha de vencimiento " required>
                    <div class="alert alert-warning d-flex align-items-center" role="alert" th:if="${#fields.hasErrors('fechaVencimiento')}"
                  th:errors="*{fechaVencimiento}">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                      An example warning alert with an icon
                    </div>
                  </div>
                  </div>
           
                  <div class="form-group row">
                    <label class="col-md-2" for="usuario">Usuario:</label>
                    <select th:field="*{usuario}" class="form-control form-control-sm col-md-6" id="usuario"> 
                      <option
                        th:value="${usuario.id}"
                        th:text="${usuario.nombre}">					
                  </select>
                  </div>
                <div class="box-footer">
                  <button class="btn btn-succes">Guardar</button>
                </div>
            </form>
            
          </div>
        </div> 

        </div>
    </div>