<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Editar Identificacion</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
          <h1 class="text-center"> Registro de Identificaciones Edicion</h1>
          <div class="card-body">
            <form th:action="@{/identificacion/{id}(id=${identificacion.id_identificacion})}" th:object="${identificacion}" method="POST">
                <div class="form-group">
                    <label for="TipoIdentificacion" class="form-label">Tipo: </label>
                    <select name="TipoIdentificacion" th:field="*{tipo}" class="form-select" required>
                        <option value="Identidad" selected>Documento de Identificación Personal</option>
                        <option value="Pasaporte">Pasaporte</option>
                        <option value="Permiso Especial de Viaje">Permiso Especial de Viaje</option>
                    </select>
                    <div class="alert alert-warning d-flex align-items-center" role="alert" th:if="${#fields.hasErrors('tipo')}"
                    th:errors="*{tipo}">
                      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                      <div>
                        An example warning alert with an icon
                      </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Numero Unico: </label>
                    <input type="text" name="numero_unico" th:field="*{numeroUnico}" class="form-control" placeholder="Ingrese su numero unico: " required>
                  </div>

                  <div class="col-12 col-md-6 mb-2">
                    <div class="form-group">
                        <label for="paisNacimiento" class="form-label">Pais Emisor: </label>
                        <select th:field="*{paisNacimiento}" class="form-select" name="paisNacimiento" required> 
                            <option th:each="pais:${paises}"
                              th:value="${pais.id}"
                              th:text="${pais.nombre}">					
                          </select>
                    </div>
                </div>

                  
                  <div class="col-12 col-md-6 mb-2">
                    <div class="form-group">
                        <label for="paisResidencia" class="form-label">Pais Residencia: </label>
                        <select th:field="*{paisResidencia}" class="form-select" name="paisResidencia" required> 
                            <option th:each="pais:${paises}"
                              th:value="${pais.id}"
                              th:text="${pais.nombre}">					
                          </select>
                    </div>
                </div>

                <div class="col-12 col-md-6 mb-2">
                  <div class="form-group">
                      <label for="ocupacion" class="form-label">ocupacion: </label>
                      <select name="ocupacion" th:field="*{ocupacion}" class="form-select" required>
                          <option value="Transportista" selected>Transportista</option>
                          <option value="Comerciante">Comerciante</option>
                          <option value="Vendedor">Vendedor</option>
                      </select>
                      <div class="alert alert-warning d-flex align-items-center" role="alert" th:if="${#fields.hasErrors('ocupacion')}"
                      th:errors="*{ocupacion}">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div>
                          An example warning alert with an icon
                        </div>
                      </div>
                  </div>
              </div>

                  <div class="form-group">
                    <label for="paisEmisor" class="form-label">Pais Emisor: </label>
                    <select th:field="*{paisEmisor}" class="form-select" name="paisEmisor" required> 
                        <option th:each="pais:${paises}"
                          th:value="${pais.id}"
                          th:text="${pais.nombre}">					
                      </select>
                    <div class="alert alert-warning d-flex align-items-center" role="alert" th:if="${#fields.hasErrors('paisEmisor')}"
                    th:errors="*{paisEmisor}">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div>
                        An example warning alert with an icon
                        </div>
                    </div>
                </div>

                  <div class="form-group">
                    <label>Fecha vencimiento: </label>
                    <input type="text" name="fecha_vencimiento" th:field="*{fechaVencimiento}" class="form-control" placeholder="Ingrese su fecha de vencimiento " required>
                  </div>
           
           
                <div class="box-footer">
                  <button class="btn btn-succes">Guardar</button>
                </div>
            </form>
            
          </div>
        </div> 

        </div>
    </div>