<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: header">
  <meta charset="utf-8" />
  <title>Base</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
</head>

<body>
  <nav th:replace="layout :: navegacion">
    <!--Herencia de navbar-->
  </nav>

  <!--Inicio de area de trabajo-->
  <div class="container">
    <div class="row">
      <h1>Lista de identificaciones</h1>
    </div>

     <!--En este boton se llama al formulario de crear-->
     <a th:href="@{/identificacion/nuevo}" class="btn btn-sm btn-primary">
      <i class="fas fa-plus-circle mr-1 text-white"></i>
    <span class="text-white">Agregar Solicitud</span>            
    </a>

    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Tipo</th>
          <th scope="col">Numero Unico</th>
          <th scope="col">Pais nacimiento</th>
          <th scope="col">Pais residencia</th>
          <th scope="col">Ocupacion</th>
          <th scope="col">Pais Emisor</th>
          <th scope="col">Fecha vencimiento</th>
          <th scope="col">Usuario</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="identificacion: ${identificacion}">
          <td th:text="${identificacion.tipo}">Tipo</td>
          <td th:text="${identificacion.numeroUnico}">Numero Unico</td>
          <td th:text="${identificacion.paisNacimiento}">Pais Nacimiento</td>
          <td th:text="${identificacion.paisResidencia}">Pais Residencia</td>
          <td th:text="${identificacion.ocupacion}">Ocupacion</td>
          <td th:text="${identificacion.paisEmisor}">Pais Emisor</td>
          <td th:text="${identificacion.fechaVencimiento}">Fecha vencimiento</td>
          <td th:text="${identificacion.usuario.nombre}">Usuario</td>
          <td>

            <!--En este boton se llama al formulario de editar-->
            <a
            th:href="@{/identificacion/editar/{id}(id=${identificacion.id_identificacion})}" class="btn btn-sm btn-primary">
            <i class="fas fa-pencil-alt"></i> 
          </a>
          
          <!--En este boton se elimina el registro-->
          <a
            th:href="@{/identificacion/{id}(id=${identificacion.id_identificacion})}" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro que deseas eliminar el registro?');">
              <i class="fa fa-trash" aria-hidden="true"></i>                    
          </a>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  <!--Fin de area de trabajo-->
</body>

</html>