<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: header">
    <meta charset="utf-8" />
    <title>Base</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>

  <body>
        <nav th:replace="layout :: navegacion"></nav>
        <!--Inicio de area de trabajo-->
        <div class="col py-3">
            

            <!--Trabaja en este espacio-->


        </div>
        <!--Fin de area de trabajo-->
        
  </body>
</html>
