<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Prueba</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <div class="row">
            <h1>Lista de estudiantes</h1>
        </div>
            <a th:href="@{/estudiantes/nuevo}" class="btn btn-info">Nuevo</a>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="estudiante: ${estudiantes}">
                <td th:text="${estudiante.nombre}">Nombre</td>
                <td th:text="${estudiante.apellido}">Apellido</td>
                <td th:text="${estudiante.email}">Email</td>
                <td>
                    <a th:href="@{/estudiantes/editar/{id}(id=${estudiante.id})}" class="btn btn-info">editar</a>
                    <a th:href="@{/estudiantes/{id}(id=${estudiante.id})}" class="btn btn-danger">eliminar</a>
                </td>
              </tr>

            </tbody>
          </table>
    </div>

</body>
</html>