<!DOCTYPE html>
<html lang="en">
  <head th:fragment="header">
    <meta charset="utf-8" />
    <title>Sistema libre movilidad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav th:fragment="navegacion" class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" th:ref="@{/home}">LibreC4</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#" th:href="@{/home}">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                >Empresas <span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li><a href="#" th:href="@{/empresas_transporte}">Empresas de transporte</a></li>
                <li><a href="#" th:href="@{/medios_transporte}">Medios de transporte</a></li>
              </ul>
            </li>
            <li><a href="#" th:href="@{/fronteras}">Fronteras</a></li>
            <li><a href="#" th:href="@{/paises}">Paises</a></li>
            <li><a href="#" th:href="@{/regiones}">Regiones</a></li>
            <li><a href="#" th:href="@{/viajeros}">Viajeros</a></li>
            <li><a href="#" th:href="@{/identificaciones}">Identificaciones</a></li>
            <li><a href="#" th:href="@{/usuarios}">Usuarios</a></li>
            <li><a href="#" th:href="@{/solicitudes_viaje}">Solicitudes de viaje</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#"
                ><span class="glyphicon glyphicon-user"></span> Sign Up</a
              >
            </li>
            <li>
              <a href="/"
                ><span class="glyphicon glyphicon-log-in"></span> Login</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>-->
  </body>
</html>
