<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Vista Inicial</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>

  <body style="background-color: #E6E3E3;">
    <!--Inicio de sidebar-->
    
        <!--Inicio de area de trabajo-->
        <div class="col py-3" >
            <!--Trabaja en este espacio-->
            <header class="container-fluid" style="background-color: skyblue">
                <img
            src="https://prechequeo.inm.gob.hn/Content/assets/images/logo_inm_white.png"
            width="265"
            height="100"/>
            <div style="display:inline-block; margin-left:60px;">
                <h3 style="color:white">Prechequeo</h3>
                <h4 style="color:white">Sistemas de Control de Migracion</h4>
            </div>
            </header>
            <table>
                <tr>
                    <td>
                        <div style="width:300px; height:150px; padding:15px; border-radius:10px; background: #EB1212; font-size:16px; font-family:Baskerville Old Face; text-align:justify; overflow:auto; color: #fff; margin:10px;">
                            <div style="font-size:20px; padding:4px; text-align:center;">Prechequo Vigentes</div>
                            <br > Entradas: 0 <br> Salidas </div>
                    </td>
                    <td>
                        <div style="width:300px; height:150px; padding:15px; border-radius:10px; background: skyblue; font-size:16px; font-family:Baskerville Old Face; text-align:justify; overflow:auto; color: #fff; margin:10px;">
                            <div style="font-size:20    px; padding:5px; text-align:center;">Prechequeos Historicos</div>
                            <br> Entradas: 0 <br> Salidas : 0
                        </div>
                    </td>
                </tr>
            </table>
            <section>
            <table cellpadding="10 " BORDER="1" ALIGN="center" style="width: 50%" MARGIN="5%">
                <thead>
                    <tr>
                        <table style="width:100%;">
                        <td style="color:White;background-color:#4090CB;border-top-width:0px;border-left-width:0px;" >Movimiento </th>
                        <td style="color:White;background-color:#4090CB;border-top-width:0px;border-left-width:0px;">Fecha Viaje</th>
                        <td style="color:White;background-color:#4090CB;border-top-width:0px;border-left-width:0px;">Documento Numero</th>
                        <td style="color:White;background-color:#4090CB;border-top-width:0px;border-left-width:0px;">Nombres</th>
                        <td style="color:White;background-color:#4090CB;border-top-width:0px;border-left-width:0px;">Apellidos</th>
                        <td style="color:White;background-color:#4090CB;border-top-width:0px;border-left-width:0px;">Nacionalidad</th>
                        <td style="color:White;background-color:#4090CB;border-top-width:0px;border-left-width:0px;">Pais origen</th>
                        <td style="color:White;background-color:#4090CB;border-top-width:0px;border-left-width:0px;">Pais Destino</th>
                    </tr>
                    
                </thead>
            </table>
        </section>
        </div>
        <!--Fin de area de trabajo-->
      </div>
    </div>
    <!--Fin de sidebar-->
  </body>
</html>
